body {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 0;
}

.upper-buttons,
.lower-buttons {
  width: 800px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.container {
  display: flex;
  flex-wrap: wrap;
  border: 1px solid lightgrey;
  width: 800px;
  height: 800px;
}

.container>div {
  box-sizing: border-box;
}

.upper-buttons>button {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: 10px;
  margin-right: 10px;
  border: none;
  border-radius: 20px;
  font-weight: bold;
  background-color: lightgrey;
}

.upper-buttons>button:hover {
  filter:brightness(110%);
}

.upper-buttons>button:active {
  filter:brightness(100%);
}

.lower-buttons>button {
  box-sizing: content-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  color: white;
  margin-right: 10px;
}

.lower-buttons>#color-black {
  background-color: black;
}

.lower-buttons>#color-random {
  background-image: linear-gradient(to right, red,orange,green,blue,indigo,violet);
}