.container {
  display: grid;
  grid-template-columns: repeat(16, 25px [col-start]);
  border: 1px solid black;
  width: fit-content;
  height: auto;
}

.container>div {
    border: 1px solid black;
    height: 25px;
    width: 25px;
  }

button {
    margin-bottom: 10px;
}


