body {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 0;
}

.upper-buttons,
.lower-buttons {
  display: flex;
  justify-content:space-evenly;
  width: 800px;
}

.container {
  display: flex;
  flex-wrap: wrap;
  border: 1px solid lightgrey;
  width: 800px;
  height: 800px;
}

.container>div {
  box-sizing: border-box;
}

button {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 10px;
  font-weight: bold;
}

.white {
  background-color: white;
  border: 1px lightgray solid;
}

.black {
  background-color: black;
  border: 1px black solid;
}

.green {
  background-color: green;
  border: 1px green solid;
}


